<div class="container">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary btn-block" routerLink="/students/register">Add new student</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary btn-block" routerLink="/results">Exam Results</button>
    </div>
  </div><br>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Student Name</th>
        <th scope="col">Admission Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <th scope="row">{{student.id}}</th>
        <td>{{student.firstName +" "+ student.lastName}}</td>
        <td>{{student.regNo}}</td>
      </tr>
    </tbody>
  </table>
</div>